

.araba{
    width: 500px;
    height: 1200px;
    background: gray;
    padding: 40px;
    text-align: center;
    margin: auto;
    
}



#ekle{
    font-size: 40px;
    color: red;
    background-color: black;
}
#sil{
    font-size: 30px;
    color: rgb(0, 247, 255);
    background: #e30909;
}


button:hover{
    transform: scale(0.5s);
    color:yellow;
}

#girdi{
    text-align: center;
    padding: 10px 0px;
}
label{
    font-size: 50px;
}
#markaEkle{
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    word-wrap: break-word;
    font-size: 30px;
}
#modelEkle{
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    word-wrap: break-word;
    font-size: 30px;
}
#renkEkle{
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    word-wrap: break-word;
    font-size: 30px;
}
#fiyatEkle{
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    word-wrap: break-word;
    font-size: 30px;
}
#plakaEkle{
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    word-wrap: break-word;
    font-size: 30px;
}
#toplamArac{
    border: 2px solid;
    border-radius: 10px;
    width: 70%;
    word-wrap: break-word;
    font-size: 50px;
}#toplamFiyat{
    border: 2px solid;
    border-radius: 10px;
    width: 70%;
    word-wrap: break-word;
    font-size: 50px;
}
select{
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    word-wrap: break-word;
    font-size: 30px;
}
table{
    font-size: 30px;
    background: #0984e3;
    width: 100%;
    color:#fff;
}
